<div class="block block-cta bg-light rounded p-5 text-center mb-4">
  <h2 class="mb-4">{{ block.data.heading }}</h2>
  <a href="{{ block.data.button_url }}" class="btn btn-primary btn-lg">{{ block.data.button_text }}</a>
</div>
