{% extends 'admin/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
        <p class="card-text text-muted">Welcome to the admin area.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
