{% extends 'frontend/layout.html.twig' %}

{% block title %}{% if not isHome|default(false) %}{{ page.title }}{% endif %}{% endblock %}

{% block meta_description %}
    {%- set description = page.metaDescription ?: site_meta_description -%}
    {%- if description %}<meta name="description" content="{{ description }}">{% endif -%}
{% endblock %}

{% block content %}
    {% for block in page.blocks %}
        {% if block.type == 'hero' %}
            {% if block.anchor %}<div id="{{ block.anchor }}" class="block-anchor">{% endif %}
                {% include 'frontend/blocks/_hero.html.twig' with {block: block} %}
            {% if block.anchor %}</div>{% endif %}
        {% endif %}
    {% endfor %}

    <div class="container py-5">
        {% for block in page.blocks %}
            {% if block.type != 'hero' %}
                {% if block.anchor %}<div id="{{ block.anchor }}" class="block-anchor">{% endif %}
                    {% include 'frontend/blocks/_' ~ block.type ~ '.html.twig' with {block: block} %}
                {% if block.anchor %}</div>{% endif %}
            {% endif %}
        {% endfor %}

        {% if page.blocks is empty %}
            <p class="text-muted"><em>This page has no content yet.</em></p>
        {% endif %}
    </div>
{% endblock %}
